<% if (site.posts.length){ %>
  <h5><%= __('访客') %></h5>
  <div class="widget">
    <span>
    	浏览 <i><span id="busuanzi_value_site_pv"><i class="fa fa-spinner fa-spin"></i></span></i> 次
	</span>
	<br/>
	<span>
		<i>总访客<span id="busuanzi_value_site_uv"><i class="fa fa-spinner fa-spin"></i></span></i>人
	</span>
  </div>
<% } %>